
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #163322;
  --foreground: #faf4f4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 


a:active {
  color: #ec0d0d; /* Color when link is being clicked */
}

a:visited {
  color: #a855f7; /* Color after link has been visited */
}